.header-wrapper{
    display: flex;
    z-index: 1;
    position: fixed;
}

.logo {
    cursor: pointer;
}

.menu {
    color: rgb(0 0 0);
    position: absolute;
    margin-top: 4%;
    left: 95%;
    cursor: pointer;
}
