
.button1{
    position:absolute;
    top: 20px;
    right: 5%;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border: 0 none;
    border-radius: 6px;
    padding: 10px 20px;
    color: #fff;
    background-color: black;
  }
  
  .video{
    list-style-type: none; 
    float: left;
    position: relative;  
    margin-top: 10%;
    margin-left: 5%;
  }
  .button2{
    list-style-type: none; 
    float: left;
    position: relative;
    margin-top: 1%; 
    margin-left: 25%;
  }
  
  .footer {
    margin: 0;
    justify-content: space-around;
    align-items: center;
  }

  .option{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 40%;
  }

  .car{
    margin-top: 150px;
    margin-left: 20%;
  }
  
  

  
