.board{
<<<<<<< HEAD
    margin-top: 15%;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .list {
    margin-top: 15%;
    font-size: 30px;
    width: 10%;
    text-align: center;
    flex-wrap: wrap;
  }

  .list li {
    flex: 20% 0 0;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .list a {
    display: block;
    padding: 20px 0;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    background-color: black;
    text-decoration: none;
    color: transparent;
    text-shadow: 0 0 0 white;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    
  }

  table td {
    width: 25%;
    height: 70px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 26px;
    
  }

  table td:first-child {
    width: 10%;
  }
  
  .off td {
    background: #eee;
    color: #ccc;
=======
    text-align: center;
    margin-top: 15%;
    font-size: 30px;
    font-family: '';
>>>>>>> 50ea356d5bdcfff84355c46e450cc57c1720b30b
  }
  
  .form-wrapper{
    width: 80%;
    margin: 0 auto;
  }
  
  .title-input {
    width: 500px;
    height: 40px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
    border: 1px;
<<<<<<< HEAD
    color: transparent;
    text-shadow: 0 0 0 black;
=======
>>>>>>> 50ea356d5bdcfff84355c46e450cc57c1720b30b
  }
  
  .text-area {
    width: 60%;
    height: 400px;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    border-radius: 6px;
    border: 1px;
  }
<<<<<<< HEAD
  button {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border: 0 none;
    border-radius: 6px;
    padding: 10px 20px;
    color: #fff;
    background-color: black;
  }

  .btn_del {
    margin-left: 10px;
    color: #fff;
    background-color: firebrick;
  }
  
  .btn_submit {
=======
  
  .submit-button {
>>>>>>> 50ea356d5bdcfff84355c46e450cc57c1720b30b
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border: 0 none;
    border-radius: 6px;
    padding: 10px 20px;
    color: #fff;
    background-color: black;
  }
