.board{
    text-align: center;
    margin-top: 15%;
    font-size: 30px;
    font-family: '';
  }
  
  .form-wrapper{
    width: 80%;
    margin: 0 auto;
  }
  
  .title-input {
    width: 500px;
    height: 40px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
    border: 1px;
  }
  
  .text-area {
    width: 60%;
    height: 400px;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    border-radius: 6px;
    border: 1px;
  }
  
  .submit-button {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border: 0 none;
    border-radius: 6px;
    padding: 10px 20px;
    color: #fff;
    background-color: black;
  }
